body{
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

nav{
    background: rgba(9, 5, 131, 0.49);
    display: flex;
    justify-content: space-between;
    padding: 1px;
    margin: 0 auto;
}

.icononav{
display: flex;
    align-items: center;

}

.listavacia{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    flex-direction: column;
}

.centericon{
    width: 80px;
    height: 80px;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}






.hola{
    fill: white;
}

.iconomax{

    padding: 30px;
    display: flex;
    }



.iconoadd{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    color: #eb5c48;
    position:static
}

.centericon2{
    fill: white;
    width: 32px;
}

.navicon2{
    width: 25px;
    padding: 10px;
}

.listado{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.listado.active {
    display: block;
}

.pop-uno {
    color: white;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width: 250px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.listavacia.active {
    display: none;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

select {
    margin-bottom: 10px;
    margin-top: 10px;
  }

.tipo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomtarea {
    border: 1px solid #dee2e6;
    border-radius: .375rem;
}

.form-label {
    margin-bottom: .5rem;
}

.nombretarea {
    margin-bottom: 1rem!important;
}

.tareatype {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: center;
}

.Descriptarea {
    height: 91px;
    width: 90%;
    resize: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
}

.barra-prioridad {
    padding-bottom: 20px;
    padding-top: 20px;
}



.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    
}

.botones {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
}

.cancelam {
    color: white;
    background-color: black;
    border-radius: 4px;
    border: 1px solid greenyellow;
    padding: 5px;
    margin-right: 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
}

.agregam {
    color: white;
    background-color:black;
    border-radius: 4px;
    border: 1px solid greenyellow;
    padding: 5px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
}

.cancelam:hover{
    color: white;
    background-color: black;
    border-radius: 4px;
    border: 2px solid greenyellow;
    padding: 5px;
    margin-right: 10px;

}

.agregam:hover{
    color: white;
    background-color:black;
    border-radius: 4px;
    border: 2px solid greenyellow;
    padding: 5px;

}

.hidden{
    display: none;
 }

 #cajas{
    appearance: none;
    
    width:36px;
    height: 20px;
    transition: all 0.1s ;
 }

 #cajas:hover{
    transform: scale(1.1);
    cursor: pointer;
 }

 #cajas:active{
    transform: scale(0.9);
 }

 #cajas:checked{
    transform: scale(1.2);
    border: 3px solid #0fa0c1;
 }

 .purpura{
    background-color: #854BB3;
 }
 .verde{
    background-color: #2f0fbe;
 }
 .amarillo{
    background-color: #FFB72D;
 }
 .rojo{
    background-color: #C83232;
 }

 .color{
    width:20px;
    height: 20px;
    border-radius: 8px;
    transition: all 0.1s ;
 }

 .color:hover{
    cursor: pointer;
    translate: 0px -3px;
 }

 .color:active{
    transform:scale(0.8);
 }

 .colores{
    display: flex;
    flex-direction: row;
    gap: 11px;
    margin-top: 10px;
 }

 .taskp{
    display: flex;
    height: 60px;
    width: 80%;
    background-color: rgba(40, 40, 43, 0.27);
    border-radius: 8px;
    margin-top: 1%;
    justify-content: space-between;
    color: black;
    border: 2px solid rgba(13, 25, 162, 0.812);
    
 }

 .borrada{
    border: none;
    margin-left: 10px;
    transition: all 0.1s;
    background-color: rgba(40, 40, 43, 0.27);
 }

 .borrada:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
 
  .borrada:active{
    transform: scale(0.9);
  }

  #completada{
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px solid #efeded;
    transition: all 0.2s;
 }
 
 #completada:hover{
    cursor: pointer;
    transform: scale(1.2);
 }
 
 #completada:checked{
    background-color: #03813b;
    background-image: url(/images/tip2.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 8px;
 }
 
 #completada:active{
    transform: scale(1);
 }
 
 #nombretarea{
    padding: 5px;
    margin: 5px;
  }
 
  #descripciontarea{
    padding: 5px;
    margin: -7px 0px -12px 5px;
  }

.tasks{
    color: white;
    width: 100%;
    height: 85%;
    background-color: #121212;
    flex-direction: column;
    display: none;
    margin-top: 15px;
    align-items: center;
    overflow-wrap: auto;
   
    
    
 }

 .botonestarea{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-right: 5px;

    
 }

 .data {
    width: 80%;
    height: 90%;
    color: white;
 }

 .colortarea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: 3px solid rgb(34, 124, 203);
    box-sizing: border-box;
}

.remover{
    width: 30px;
    background: rgba(40, 40, 43, 0.27);

}

.todolist{
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}